<a href="https://colab.research.google.com/github/jiteshisbugged/2025-26_Jitesh_4102/blob/main/list_operations.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Creating a list
my_list = [10, 20, 30, 'apple', 'banana', 40, 50]
print("Original list:", my_list)

# Accessing elements by index
print("First element:", my_list[0])
print("Last element:", my_list[-1])

# Slicing a list
print("Sliced list (elements from index 1 to 3):", my_list[1:4])
print("Sliced list (from beginning to index 3):", my_list[:4])
print("Sliced list (from index 2 to end):", my_list[2:])

# Modifying an element
my_list[1] = 25
print("List after modifying element at index 1:", my_list)

# Appending an element
my_list.append('orange')
print("List after appending 'orange':", my_list)

# Extending with another list
another_list = [60, 70]
my_list.extend(another_list)
print("List after extending with another_list:", my_list)

# Inserting an element at a specific position
my_list.insert(2, 'grape')
print("List after inserting 'grape' at index 2:", my_list)

# Removing an element by value
my_list.remove('banana')
print("List after removing 'banana':", my_list)

Original list: [10, 20, 30, 'apple', 'banana', 40, 50]
First element: 10
Last element: 50
Sliced list (elements from index 1 to 3): [20, 30, 'apple']
Sliced list (from beginning to index 3): [10, 20, 30, 'apple']
Sliced list (from index 2 to end): [30, 'apple', 'banana', 40, 50]
List after modifying element at index 1: [10, 25, 30, 'apple', 'banana', 40, 50]
List after appending 'orange': [10, 25, 30, 'apple', 'banana', 40, 50, 'orange']
List after extending with another_list: [10, 25, 30, 'apple', 'banana', 40, 50, 'orange', 60, 70]
List after inserting 'grape' at index 2: [10, 25, 'grape', 30, 'apple', 'banana', 40, 50, 'orange', 60, 70]
List after removing 'banana': [10, 25, 'grape', 30, 'apple', 40, 50, 'orange', 60, 70]

In [2]:
# Creating a tuple
my_new_tuple = (10, 20, 30, 'apple', 'banana')
print("My new tuple:", my_new_tuple)

# Accessing elements
print("Element at index 0:", my_new_tuple[0])
print("Element at index 3:", my_new_tuple[3])

#length of a tuple
print("Length of the tuple:", len(my_new_tuple))

# Iterating
print("Iterating through the tuple:")
for item in my_new_tuple:
    print(item)

# Nested tuples
nested_tuple = (1, (2, 3), 4)
print("Nested tuple:", nested_tuple)
print("Accessing element from nested tuple:", nested_tuple[1][1])

My new tuple: (10, 20, 30, 'apple', 'banana')
Element at index 0: 10
Element at index 3: apple
Length of the tuple: 5
Iterating through the tuple:
10
20
30
apple
banana
Nested tuple: (1, (2, 3), 4)
Accessing element from nested tuple: 3

In [3]:
# Creating a set
my_set = {10, 20, 30, 'apple', 'banana'}
print("Original set:", my_set)

# Adding elements
my_set.add('orange')
print("Set after adding 'orange':", my_set)

# Adding multiple elements
my_set.update([40, 50, 'grape'])
print("Set after updating with list:", my_set)

# Removing an element
my_set.remove('banana')
print("Set after removing 'banana':", my_set)

# Discarding an element
my_set.discard(100) # This won't do anything as 100 is not in the set
print("Set after discarding 100 (not present):", my_set)
my_set.discard(10)
print("Set after discarding 10 (present):", my_set)

# Popping
popped_item = my_set.pop()
print("Set after popping an element:", my_set)
print("Popped item:", popped_item)

# Set operations
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

# Union
union_set = set1.union(set2)
print("Union of set1 and set2:", union_set)
print("Union using | operator:", set1 | set2)

# Intersection
intersection_set = set1.intersection(set2)
print("Intersection of set1 and set2:", intersection_set)
print("Intersection using & operator:", set1 & set2)

# Difference
difference_set1 = set1.difference(set2)
print("Difference (set1 - set2):", difference_set1)
print("Difference using - operator:", set1 - set2)

# Symmetric Difference
symmetric_difference_set = set1.symmetric_difference(set2)
print("Symmetric Difference:", symmetric_difference_set)
print("Symmetric Difference using ^ operator:", set1 ^ set2)

Original set: {20, 'apple', 'banana', 10, 30}
Set after adding 'orange': {'orange', 20, 'apple', 'banana', 10, 30}
Set after updating with list: {'orange', 10, 'grape', 20, 30, 40, 50, 'apple', 'banana'}
Set after removing 'banana': {'orange', 10, 'grape', 20, 30, 40, 50, 'apple'}
Set after discarding 100 (not present): {'orange', 10, 'grape', 20, 30, 40, 50, 'apple'}
Set after discarding 10 (present): {'orange', 'grape', 20, 30, 40, 50, 'apple'}
Set after popping an element: {'grape', 20, 30, 40, 50, 'apple'}
Popped item: orange
Union of set1 and set2: {1, 2, 3, 4, 5, 6, 7, 8}
Union using | operator: {1, 2, 3, 4, 5, 6, 7, 8}
Intersection of set1 and set2: {4, 5}
Intersection using & operator: {4, 5}
Difference (set1 - set2): {1, 2, 3}
Difference using - operator: {1, 2, 3}
Symmetric Difference: {1, 2, 3, 6, 7, 8}
Symmetric Difference using ^ operator: {1, 2, 3, 6, 7, 8}

In [4]:
# Creating a dictionary
my_dict = {
    'name': 'Jitesh',
    'age': 19,
    'city': 'Hyderabad',
    'occupations': ['Engineer', 'Artist']
}
print("Original dictionary:", my_dict)

# Accessing elements
print("Name:", my_dict['name'])
print("Age:", my_dict.get('age'))

# Modifying an element
my_dict['age'] = 19
print("Dictionary after modifying age:", my_dict)

# Adding a new element
my_dict['email'] = 'jitesh@gmail.com'
print("Dictionary after adding email:", my_dict)

# Removing an element
removed_city = my_dict.pop('city')
print("Dictionary after removing city:", my_dict)
print("Removed city:", removed_city)

# Deleting an element
del my_dict['email']
print("Dictionary after deleting email:", my_dict)

# Getting all keys
print("All keys:", my_dict.keys())

# Getting all values
print("All values:", my_dict.values())

# Getting all items
print("All items:", my_dict.items())

Original dictionary: {'name': 'Jitesh', 'age': 19, 'city': 'Hyderabad', 'occupations': ['Engineer', 'Artist']}
Name: Jitesh
Age: 19
Dictionary after modifying age: {'name': 'Jitesh', 'age': 19, 'city': 'Hyderabad', 'occupations': ['Engineer', 'Artist']}
Dictionary after adding email: {'name': 'Jitesh', 'age': 19, 'city': 'Hyderabad', 'occupations': ['Engineer', 'Artist'], 'email': 'jitesh@gmail.com'}
Dictionary after removing city: {'name': 'Jitesh', 'age': 19, 'occupations': ['Engineer', 'Artist'], 'email': 'jitesh@gmail.com'}
Removed city: Hyderabad
Dictionary after deleting email: {'name': 'Jitesh', 'age': 19, 'occupations': ['Engineer', 'Artist']}
All keys: dict_keys(['name', 'age', 'occupations'])
All values: dict_values(['Jitesh', 19, ['Engineer', 'Artist']])
All items: dict_items([('name', 'Jitesh'), ('age', 19), ('occupations', ['Engineer', 'Artist'])])